<!DOCTYPE html>
<html>
    <head>
        <title>Django React PWA</title>
        <link rel="manifest" href="manifest.json">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="application-name" content="DRPWA">
        <meta name="apple-mobile-web-app-title" content="DRPWA">
        <meta name="theme-color" content="#eeeeee">
        <meta name="msapplication-navbutton-color" content="#eeeeee">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="msapplication-starturl" content="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <div id="root">
            {% block content %}{% endblock %}
        </div>
    </body>

    {% block scripts %}{% endblock %}
</html>
